html{
    scroll-behavior: smooth;
}

body{
  background-color: #BAF1FB;
  font-size: 18px;
  color: navy;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Poly';
  margin-bottom: 80px;
}

h5{
  text-align: center;
  font-size: 25px;
  line-height: 1.5;
  color: #E93671;
}

form{
  grid-column: -1/1;
  border-radius: 5px;
  border: 1px solid navy;
  width: 30%;
  padding: 8px;
  margin: 0 auto;
}

label{
	font-size: 15px;
  display: inline-block;
  padding-bottom: 5px;
  padding-top: 2px;
}

input{
  width: 50%;
  padding-bottom: 5px;
}

.nav{
  grid-column: 1 / -1;
  align-content: center;
  padding: 10px 0;
  background-color: white;
  position: absolute;
  top: 0;
  width: 100%;
}

nav ul{
  display: none;
}

.dropdown{
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;

}
.menu-btn{
  background-color: navy;
  color: white;
  font-size: 16px;
  font-family: 'Poly';
  border: none;
  height: 40px;
  width: 120px;
}

.menu{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px 10px;
}

.menu li{
  list-style-type: none;
}
.menu a{
  color: navy;
  display: block;
  padding: 5px;
  font-family: 'Poly';
}

.dropdown:hover .menu{
  display: block;
}

.drop1 li.homenav, .drop2 li.educnav, .drop3 li.expernav, .drop4 li.gallnav {
  background-color: yellow;
  border-color: navy;
}

nav p{
  top: 0px;
  left: 0px;
  font-style: oblique;
  color: navy;
  font-weight: bold;
  font-size: 20px;
}

body.home nav p{
  animation-duration: 1s;
  animation-name: bounceIn;
}

nav p a{
  text-decoration: none;
}

header{
  background-color: #BAF1FB;
  height: 60px;
  grid-column: 1 / -1;
}

.dropdown p{
  font-size: 20px;
  text-align: left;
  line-height: 30px;
}

.skip a{
  background: navy;
  color: white;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-in;
  z-index: 1;
}

.skip a:focus{
  top: 0px;
}

*:focus{
  border: 2px solid navy;
}

footer{
  background-color: navy;
  color: white;
  grid-column: 1 / auto;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 25px;
}

.me{
  max-width: 200px;
  max-height: 200px;
  justify-self: center;
  border-radius: 50%;
  border: 1px solid navy;
}

.me_pic{
  justify-self: center;
  grid-column: 1 / -1;
}

.me:hover{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

h2{
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
  color: #E93671;
}

h3{
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
  color: #E93671;
}

h4{
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
  color: #E93671;
}

.about{
  grid-column: 1 / -1;
  padding: 15px;
}

.about p{
  padding-left: 2rem;
  padding-right: 2rem;
  color: navy;
}

.goals{
  grid-column: 1 / -1;
  padding: 15px;
}

.goals p{
  padding-left: 2rem;
  padding-right: 2rem;
  color: navy;
}

.contact{
  grid-column: 1 / -1;
  padding: 15px;
}

.contact li{
  list-style-position: inside;
  list-style-type: circle;
  padding-left: 2rem;
  padding-right: 2rem;
  color: navy;
}

.academics{
  grid-column: 1 / -1;
  padding: 15px;
  color: #E93671;
}

.academics p{
  padding-left: 2rem;
  padding-right: 2rem;
  color: navy;
}

.courses{
  grid-column: 1 / -1;
  padding: 15px;
  color: #E93671;
}

.courses li{
  list-style-position: inside;
  list-style-type: circle;
  padding-left: 2rem;
  padding-right: 2rem;
  color: navy;
}

.michigan {
  display: inline-block;
  grid-column: 1 / -1;
  max-width: 400px;
  max-height: 400px;
  align-self: center;
  justify-self: center;
  border: 1px solid navy;
}

.mich_pic{
  justify-self: center;
  grid-column: 1 / -1;
  background: none;
  text-align: center;
  height: 250px;
}

.mich_pic p{
  display: none;
}

.lotame{
  grid-column: 1 / -1;
  padding: 15px;
  color: #E93671;
}

.lotame li{
  list-style-position: inside;
  list-style-type: circle;
  padding-left: 2rem;
  padding-right: 2rem;
  color: navy;
}

.lotame p{
  text-align: center;
  padding-bottom: 5px;
  color: navy;
}

.lelion {
  grid-column: 1 / -1;
  padding: 15px;
  color: #E93671;
}

.lelion li{
  list-style-position: inside;
  list-style-type: circle;
  padding-left: 2rem;
  padding-right: 2rem;
  color: navy;
}

.lelion p{
  text-align: center;
  padding-bottom: 5px;
}

.reflection {
  grid-column: 1 / -1;
  padding: 15px;
  color: #E93671;
}

.reflection p{
  padding-left: 2rem;
  padding-right: 2rem;
  color: navy;
}

.city {
  display: inline-block;
  grid-column: 1 / -1;
  max-width: 350px;
  max-height: 350px;
  align-self: center;
  justify-self: center;
  border: 1px solid navy;
}

.ny_pic{
  justify-self: center;
  grid-column: 1 / -1;
  padding-top: 25px;
  background: none;
  text-align: center;
}

.ny_pic p{
  display: none;
}

.gallery{
  grid-column: 1/-1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}

.image {
  max-width: 500px;
  max-height: 300px;
  margin: auto;
  padding-top: 10px;
}

 .image-1:hover{
     -webkit-filter: grayscale(100%);
     filter: grayscale(100%);
  }

.image-4:hover{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
 }

 .image-8:hover{
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
  }

  @keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}


@media only screen and (min-width: 800px) {

  body.home li.homenav, body.educ li.educnav, body.exper li.expernav, body.gall li.gallnav {
  background-color: yellow;
  border-color: navy;
}

  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }

  .nav{
    grid-column: 1 / -1;
    align-content: center;
    padding: 10px 0;
    background-color: white;
    position: absolute;
    top: 0;
    width: 100%;
  }

  nav ul{
    display: none;
  }

  .dropdown{
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;

  }
  .menu-btn{
    background-color: navy;
    color: white;
    font-size: 16px;
    font-family: 'Poly';
    border: none;
    height: 40px;
    width: 120px;
  }

  .menu{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 10px;
  }

  .menu li{
    list-style-type: none;
  }
  .menu a{
    color: navy;
    display: block;
    padding: 5px;
    font-family: 'Poly';
  }

  .dropdown:hover .menu{
    display: block;
  }

  .drop1 li.homenav, .drop2 li.educnav, .drop3 li.expernav, .drop4 li.gallnav {
    background-color: yellow;
    border-color: navy;
  }

  nav p{
    top: 0px;
    left: 0px;
    font-style: oblique;
    color: navy;
    font-weight: bold;
    font-size: 20px;
  }

  header{
    background-color: #BAF1FB;
    height: 60px;
    grid-column: 1 / -1;
  }

  .dropdown p{
    font-size: 20px;
    text-align: left;
    line-height: 30px;
  }

    nav p{
    top: 0px;
    left: 0px;
    font-style: oblique;
    color: navy;
    font-weight: bold;
    font-size: 20px;
  }

  h1{
    display: none;
  }

  h2{
    font-size: 25px;
    line-height: 1.5;
    text-align: left;
  }

  h3{
    font-size: 25px;
    line-height: 1.5;
    text-align: left;
  }

  h4{
    font-size: 25px;
    line-height: 1.5;
    text-align: left;
  }

  h5{
    text-align: left;
    line-height: 1.5;
    padding-left: 0;
  }

  .me{
    max-width: 200px;
    max-height: 200px;
    justify-self: center;
    border-radius: 50%;
    border: 1px solid navy;
  }

  .me_pic{
    justify-self: center;
    grid-column: 1 / -1;
    padding: 25px;
  }

  .about{
    grid-column: 1 / -1;
    color: navy;
    padding: 15px
  }

  .about p{
    padding-left: 2rem;
  }

  .goals{
    grid-column: 1 / -1;
    color: navy;
    padding: 15px;
  }

  .goals p{
    padding-left: 2rem;
  }

  .contact{
    grid-column: 1 / -1;
    color: navy;
    padding: 15px;
  }

  .michigan {
  grid-column: 1 / -1;
  max-width: 500px;
  max-height: 500px;
  align-self: center;
  justify-self: center;
  border: 1px solid navy;
  }

  .mich_pic{
    justify-self: center;
    grid-column: 1 / -1;
    padding: 30px 0;
    height: 300px;
  }

  .lotame p{
    text-align: left;
    color: navy;
  }

  .lelion p{
    text-align: left;
  }

  .city {
    grid-column: 1 / -1;
    max-width: 350px;
    max-height: 350px;
    align-self: center;
    justify-self: center;
    border: 1px solid navy;
  }

  .ny_pic{
    justify-self: center;
    grid-column: 1 / -1;
    padding-top: 25px;
  }

  .gallery{
    align-content: flex-start;
  }

  .image {
    min-width: 200px;
    min-height: 200px;
    padding-top: 10px;
  }

  form{
    display: inline-block;

  }

  .form{
    padding: 15px;
  }

  label{
    font-size: 15px;
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 2px;
  }

  input{
    width: 50%;
    padding-bottom: 5px;
  }

}

@media only screen and (min-width: 1200px){

  body.home li.homenav, body.educ li.educnav, body.exper li.expernav, body.gall li.gallnav {
  background-color: yellow;
  border-color: navy;
}

  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }

  .nav{
    position: relative;
    top: 0;
    width: 100%;
    grid-column: 1/-1;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  nav li{
    display: inline-block;
    padding-right: 80px;
    padding-left: 80px;
    border: 2px solid navy;
  }

  nav a{
    color: navy;
    font-weight: bold;
    text-decoration: none;
  }

  nav a:hover{
    text-decoration: underline;
  }

  .dropdown{
    display: none;
  }

  nav p{
    display: none;
  }

  header{
    display: inline-block;
    background-color: #FFC0CB;
    color: navy;
    height: 80px;
    grid-column: 1/-1;
    text-align: center;
  }

  h1{
    display: inline-block;
    font-size: 30px;
    line-height: 80px;
  }

  h2{
    font-size: 25px;
    line-height: 1.5;
    text-align: left;
  }

  h3{
    font-size: 25px;
    line-height: 1.5;
    text-align: left;
  }

  h4{
    font-size: 25px;
    line-height: 1.5;
    text-align: left;
  }

  .me{
    max-width: 300px;
    max-height: 300px;
    justify-self: center;
    border-radius: 50%;
    border: 1px solid navy;
  }

  .me_pic{
    justify-self: center;
    grid-column: 1 / -1;
    padding: 20px;
  }

  .about{
    grid-column: 1 / -1;
    color: navy;
    padding: 15px
  }

  .about p{
    padding-left: 2rem;
  }

  .goals{
    grid-column: 1 / -1;
    color: navy;
    padding: 15px;
  }

  .goals p{
    padding-left: 2rem;
  }

  .contact{
    grid-column: 1 / -1;
    color: navy;
    padding: 15px;
  }

  .mich_pic{
    background-attachment: fixed;
    background-image: url('../images/michigan.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 600px;
    width: 100%;
  }

  .mich_pic p{
    display: inline;
    color: navy;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }

  .michigan{
    display: none;
  }

  .lotame p{
    text-align: left;
    color: navy;
  }

  .lelion p{
    text-align: left;
  }

  .city{
    display: none;
  }

  .ny_pic{
    background-attachment: fixed;
    background-image: url('../images/newyork.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 600px;
    width: 100%;
  }

  .ny_pic p{
    display: inline;
    color: navy;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .gallery{
    align-content: flex-start;
  }

  .image {
    min-width: 200px;
    min-height: 200px;
    padding-top: 10px;
  }

  form{
    display: inline-block;

  }

  .form{
    padding: 15px;
  }

  label{
    font-size: 15px;
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 2px;
  }

  input{
    width: 50%;
    padding-bottom: 5px;
  }

  h5{
    text-align: left;
  }

}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto;
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: none !important;
    transition: none !important;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
}
